/* CSS Document */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,700);
body{
	background-image:url(includes/background.png);
	background-repeat:repeat;
	font-family:"Roboto", sans-serif;
	position:relative;
	padding:0;
	margin:0;
}
.loginBox{
	background-color:#F7F7F7;
	width:400px;
	height:200px;
	position:fixed;
	left:50%;
	top:100px;
	margin:0 0 0 -200px;
	border-radius:5px;
	padding:10px;
}
.loginBox h1{
	width:400px;
	text-align:center;
	margin:0;
	padding:0;
}
.loginBox table{
}
.loginBox table tr{
	height:50px;
}
.loginBox table tr td{
	height:50px;
}
.errorRow{
	height:15px !important;
	color:#FF0000;
}
.errorRow td{
	height:15px !important;
}
.loginBox input{
	width:150px;
	height:30px;
	border-radius:5px;
	border:1px solid #666;
	line-height:30px;
	font-size:20px;
}
#logInButton{
	width:100px;
	height:40px;
	line-height:40px;
	background-color:#428bca;
	color:#FFFFFF;
	border-radius:3px;
	cursor:pointer;
	text-align:center;
	font-weight:400;
	position:relative;
	left:150px;
	margin:30px 0 0 0;
}

.main{
	position:relative;
	width:60vw;
	height:auto;
	min-width:400px;
	margin:10vh 20vw auto 20vw;
	background-color:#FFFFFF;
	border-radius:5px;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	padding:10px;
	border:1px solid #333;
}
.fileTable{
	width:90%;
	margin:0 0 0 5%;
	border-spacing: 0;
	border:1px solid #428bca;
}
.fileTable thead tr:first-child{
	background-color: #428bca;
	color:#FFFFFF;
}
.fileTable thead tr:first-child th{
	height:30px;
	line-height:20px;
	padding:0px;
	margin:0px;
	text-align:center;
	font-weight:700;
}
.fileTable tbody{
}
.fileTable tr{
}

.fileTable td{
	border-bottom:solid #666 1px;
	height:30px;
}
.uploadButton{
	background-color: #428bca;
	padding: 10px;
	border-radius: 2px;
	text-decoration: none;
	cursor:pointer;
	text-align:center;
	color: white;
	margin: 5px;
	width: 150px;
	text-overflow: ellipsis;
	height:20px;
	overflow:hidden;
	white-space:nowrap;
	line-height:20px;
	font-size:14px;
}
.infoTooltip {
    padding: 10px;
    color: #333;
	background:#F7F7F7;
    border-radius: 2px;
    font: 14px "Roboto";
    box-shadow: 0 0 7px black;
	border:none;
}
#logOutButton{
	position:absolute;
	color:#fff;
	padding:5px 5px 2px 2px;
	background-color:#999999;
	text-decoration:none;
	top:5px;
	right:5px;
	border-radius:5px;
}